* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  iframe {
border: 1px solid black;
width: 100%; /* takes precedence over the width set with the HTML width attribute */
}

  #map {
    height: 100vh;
  }
  
  * {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe 
}
  
body {
  padding-left: 16px;
  padding-right: 16px;
}

.title {
  padding-right: 700px;
  text-shadow: 2px 2px white;
}

.button {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: rgb(17, 17, 17);
  text-decoration: none;
  padding: 0px 16px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  border-radius: 24px;
}


.button:hover:not(.button-active) {
  background-color: rgb(233, 233, 233);
}

.button-active {
  background-color: rgb(17, 17, 17);
  color: white;
}

.search {
  background-color: rgb(233, 233, 233);
  border-radius: 24px;
  padding: 0px 16px;
  display: incline-flex;
  align-items: center;
}


  .search:focus-within {
  box-shadow: 0 0 0 4px rgba(4, 54, 17, 0.201);
  }

.search-bar {
  height: 48px;
  border-radius: 50px;
  padding: 0px 16px;
  font-size: 16px;
  font-weight: 600;
  background-color: white;
}

.search-bar:focus {
  outline: 0px;
}

.search-icon {
  color: rgb(95, 95, 95);
}

.header {
  display: flex;
  gap: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  position: sticky;
  top: 0;
  background-color: #6DB171;
}

.content {
  padding-top: 20px;
  text-align: center;

}

.footer {
  
    margin-top: 25px;
	background-color: #6DB171;
    color: black;
	text-transform: uppercase; text-emphasis: bold;
	text-shadow:
    1px 1px 1px white,
    2px 2px 1px white;
}

.footer p {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    position:sticky;
    margin-top: auto;
}

.video {
    padding-top: 25px;
    align-items:center;
}

  #location-select:hover:not(.button-active) {
  background-color: rgb(233, 233, 233);
  }
  
 #location-select {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: rgb(17, 17, 17);
  text-decoration: none;
  padding: 0px 16px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  border-radius: 24px;
  background-color: #6DB171;
  }

.iframe {
border: 1px solid black;
width: 100%; /* takes precedence over the width set with the HTML width attribute */
}

  #map {
    height: 100vh;
  }