 
grid.container {
  display: grid;
  grid-template-columns: 100px 200px;
  grid-template-rows: 400px 800px;

}

body {
	font-family: Cambria;
	color: black;
	font-size: 11pt;
}

h1 {
	color: black;
	background-color: #6DB171;
	text-transform: uppercase; text-emphasis: bold;
	font-size: 20pt;
  	text-align: Left;
}

h2
{
	color: black;
	text-transform: uppercase; text-emphasis: bold;
	font-size: 16pt;
}

h3 {
	color: black; 
	text-transform: uppercase; text-emphasis: bold;
	font-size: 16pt;
}

img {
	width: 40%;
}

footer {
    margin-top: 25px;
	background-color: #6DB171;
    color: black;
	text-transform: uppercase; text-emphasis: bold;
}

footer p {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}